/* html, body, div, span, applet, object, iframe, */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: #000;
	color: #fff;
	font-family: 'Press Start 2P', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
	position: relative;
	padding-left: 8vw;
	padding-right: 8vw;
}

main > h1 {
	font-size: 4rem;
	position: absolute;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3rem 5rem;
	border: .5rem solid white;
	border-radius: 1rem;
}

.board-container {
	margin-top: 8vw;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

#level-name {
	text-align: center;
	white-space: nowrap;
	font-size: 1rem;
	padding-top: .7rem;
	padding-bottom: .7rem;
	border-top: .5rem solid coral;
	border-bottom: .5rem solid coral;
}

#board {
	position: relative;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 2px solid blueviolet;
}

#board > .row {
	display: flex;
	width: 100%;
	height: 45px;
}

#board .cell {
	flex: 1 1 16.667%;
	border: 2px solid blueviolet;
	display: flex;
	align-items: center;
	text-align: center;
}

h3 {
	width: 100%;
	font-size: .9rem;
}

#muncher {
	position: absolute;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

#muncher > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
	background-size: cover;
	background-image: url('../assets/muncher-sprite.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
}

#muncher .munch {
	background-position-x: -913px; 
}

#muncher .walk-left {
	animation: walk-left 100ms steps(2);
}

#muncher .walk-right {
	animation: walk-left 100ms steps(2);
}

#muncher .walk-up {
	animation: walk-up 100ms steps(2);
}

#muncher .walk-down {
	animation: walk-down 100ms steps(2);
}

@keyframes walk-left {
	0% { background-position-x: -300px; }
	100% { background-position-x: -200px; }
}

@keyframes walk-right {
	0% { background-position-x: -500px; }
	100% { background-position-x: -400px; }
}

@keyframes walk-up {
	0% { background-position-x: -700px; }
	100% { background-position-x: -600px; }
}

@keyframes walk-down {
	0% { background-position-x: -900px; }
	100% { background-position-x: -800px; }
}

.board-container footer {
	display: flex;
	text-align: right;
	flex-direction: column;
	margin-right: -4px;
}

.score-container {
	width: 100%;
	margin-bottom: .5rem;
}

#score {
	display: inline-block;
	position: relative;
	border: .8rem solid blue;
	padding: .8rem 2.3rem;
}

#score > span {
	position: absolute;
	right: 7rem;
}

#extra-lives {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

.extra-life {
	height: 70px;
	width: 75px;
	background-size: cover;
	background-image: url('muncher.png');
	background-repeat: no-repeat;
	background-position-x: 0px; 
}

.extra-life.smile {
	background-position-x: -795px; 
}

.extra-life.frown {
	background-position-x: -895px; 
}

.lose-life {
	position: relative;
	border: 2px solid blueviolet;
	width: 100%;
	padding: 1rem;
	text-align: center;
	line-height: 2;
}

.lose-life > span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
 
@media (min-width: 400px) {
	#level-name, #score {
		font-size: 1.2rem;
	}

	#board > .row {
		height: 50px;
	}
}

@media (min-width: 500px) {
	#level-name {
		font-size: 1.4rem;
		font-weight: bold;
	}

	#board > .row {
		height: 60px;
	}

	h3 {
		font-size: 1.2rem;
	}

	#score {
		padding: .9rem 2.8rem;
	}

	#score > span {
		right: 8rem;
	}
}

@media (min-width: 600px) {

	.board-container > header {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	#level-name {
		font-size: 1.6rem;
	}

	#board > .row {
		height: 70px;
	}

	.board-container footer {
		flex-direction: row;
	}

	#score > span {
		font-size: 1rem;
	}

	.score-container, #extra-lives {
		width: 50%;
	}
}

@media (min-width: 700px) {
	#level-name {
		font-size: 1.8rem;
		border-top-width: .7rem;
		border-bottom-width: .7rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
	}

	#board > .row {
		height: 80px;
	}

	.extra-life {
		margin-left: 1rem;
	}
	
	#score > span {
		right: 9rem;
		font-size: 1.2rem;
	}
}

@media (min-width: 800px) {
	#level-name {
		font-size: 2rem;
	}

	#score {
		font-size: 1.6rem;
	}
	
	#score > span {
		right: 10rem;
	}

	#board > .row {
		height: 90px;
	}

	.extra-life {
		height: 90px;
		width: 90px;
	}

	.score-container {
		margin-top: .5rem;
	}
}

@media (min-width: 900px) {
	#level-name {
		font-size: 2.2rem;
	}

	#board > .row {
		height: 100px;
	}
	
	#score > span {
		font-size: 1.7rem;
		right: 11rem;
	}
}

@media (min-width: 1000px) {
	#level-name {
		font-size: 2.4rem;
	}

	#board > .row {
		height: 110px;
	}

	.extra-life {
		margin-left: 2rem;
	}
}	

@media (min-width: 1100px) {
	#level-name {
		font-size: 2.6rem;
	}

	#board > .row {
		height: 120px;
	}
}